.search_btn {
    display: inline-block;
    height: 34px;
    width: 82px;
    text-align: center;
    cursor: pointer;
    line-height: 34px;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    background: rgb(6, 193, 174);

}
.search_btn:hover,.up_level:hover{
    background:rgb(10, 148, 134);
}

.up_level {
    height:34px;
    width:100px;
    text-align:center;
    line-height:34px;
    border-radius:3px;
    background:#06c1ae;
    color:#fff;
    display:inline-block;
    position:absolute;
    top:50%;
    margin-top:-17px;
    cursor:pointer;

}
/*用户编辑*/

.save_btn{
    width: 100px;
    display: block;
    height: 37px;
    line-height: 37px;
    text-align: center;
    background-color: #06c1ae;
    border-radius: 3px;
    cursor: pointer;
    color:#fff;
}
.save_btn:hover{
    background: rgb(10, 148, 134);
}

/*系统配置*/
.submit_btn {
    display: inline-block;
    width: 90px;
    height: 37px;
    border-radius: 5px;
    line-height: 37px;
    text-align: center;
    background: #06c1ae;
    margin-left: 10px;
    color: #fff;
}
/*管理员列表*/
 .add_btn {
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    line-height: 34px;
     height: 34px;
     color:#06c1ae;
     width: 82px;
}
.add_btn:hover{
    background: rgb(239, 241, 240);;
}
/*权限组列表*/
